<section class="hero sm:h-full">
    <div class="vanillaContainer mx-auto space-x-4 sm:space-x-0 flex items-center justify-between">
        <div class="w-1/3 sm:w-1/2">
            <h6 class="text-[12px] sm:text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-xl sm:text-2xl md:text-4xl lg:text-6xl font-bold">Don't wait !</h1>
            <button 
            class="text-[10px] sm:text-lg btn-primary px-1 sm:px-6 py-1 sm:py-2 rounded-md sm:rounded-full text-white font-bold mt-6 ">
            <a style= "text-decoration: none" href="#pizzaLists">
                Order Now!
            </a>
            </button>
        </div>

        <div class="w-2/3 sm:w-1/2">
            <img src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>


<section id="pizzaLists" class="menu vanillaContainer mx-auto py-10 sm:py-8 ">
    <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-x-12 gap-y-16">
        <% pizzas.map((pizza) => { %>
        <div class="w-full md:w-64 shadow-2xl p-4 rounded-sm">
            <img class="h-28 md:h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= pizza.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span>
                <div class="flex items-center justify-center space-x-4 sm:space-x-0 sm:justify-around mt-6">
                    <span class="font-bold text-lg">
                        $<%= pizza.price %>
                    </span>
                    <button 
                    data-pizza="<%= JSON.stringify(pizza) %>"
                    class="sm:py-1  px-2 sm:px-6 rounded-full font-bold flex items-center justify-center sm:justify-between add-to-cart">
                        <span>+</span>
                        <span class="ml-1 sm:ml-3">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <% }) %>

    </div>
</section>